.LogBody {
    padding-top: 6rem;
    text-align: center;
}

.LogBody >p {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--light-text);
}

.LogBody span {
    color: var(--dark-text);
}

.LogBody >h4 {
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--light-text);
}
