.ChooseCountry {
    /* display: none; */
    z-index: 15;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 87%;
    width: 100%;
    background-color: white;
    border-radius: 15px 15px 0 0;
    padding: 1rem;
    transform: translateY(100vh);
    transition: transform 0.3s;
}

.ChooseCountry label {
    font-weight: 700;
    color: rgb(78, 78, 78);
}

.countries,
.languages {
    padding: 0.7rem 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    row-gap: 1rem;
}