.LoginField {
    padding-top: 2rem;
    margin: auto;
    text-align: center;
}

.inputField {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border: 1px solid rgba(133, 132, 132, 0.705);
    padding: 0 0.7rem;
    border-radius: 4px;
}

.inputField input {
    width: 100%;
    padding: 1.2rem 0.7rem;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
}

.showPassword,
.icon {
    color: rgba(209, 209, 209, 0.767);
    font-size: 1.3rem;
}

.LoginField p {
    text-align: end;
    padding: 0.3rem 0;
    font-weight: 500;
    font-size: 1.2rem;
}